# Bandung congestion prediction

problem statement

mengidentifikasi traffic congestion di kota bandung

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

## Data

In [4]:
data_alerts=pd.read_csv('D:/document/data_science/DLSL Study case/mini_project_DS/data/raw/aggregate_alerts_Kota Bandung.csv')
data_irregularities=pd.read_csv('D:/document/data_science/DLSL Study case/mini_project_DS/data/raw/aggregate_median_irregularities_Kota Bandung.csv')
data_jams=pd.read_csv('D:/document/data_science/DLSL Study case/mini_project_DS/data/raw/aggregate_median_jams_Kota Bandung_fixed (1).csv')

In [5]:
data_jams.sample(10) # level peringatan macet

,Unnamed: 0,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,level,median_length,median_delay,median_speed_kmh,total_records,id,date,median_level,geometry
88090,70223,2022-07-23 19:00:00.000,32.73,KOTA BANDUNG,Cidurian Utara,2,475.0,62.0,11.719999,10,34575638,2022-07-23,2.0,"MULTILINESTRING ((107.654628 -6.93525, 107.654..."
267057,117179,2022-08-29 08:00:00.000,32.73,KOTA BANDUNG,Wa'as,3,258.0,89.0,7.305000,4,36848996,2022-08-29,3.0,"MULTILINESTRING ((107.626986 -6.951653, 107.62..."
297490,147612,2022-09-04 08:00:00.000,32.73,KOTA BANDUNG,Jalan Gunung Batu,1,1321.0,70.0,22.160000,3,37228008,2022-09-04,1.0,"MULTILINESTRING ((107.560923 -6.893866, 107.56..."
103294,85427,2022-07-26 18:00:00.000,32.73,KOTA BANDUNG,KH Wahid Hasyim,3,1008.0,176.0,12.110000,21,34770366,2022-07-26,3.0,"MULTILINESTRING ((107.586617 -6.950222, 107.58..."
276003,126125,2022-08-31 06:00:00.000,32.73,KOTA BANDUNG,Sultan Agung,3,282.0,108.5,7.325000,12,36958810,2022-08-31,3.0,"MULTILINESTRING ((107.61291 -6.90395, 107.6119..."
153272,135405,2022-08-05 14:00:00.000,32.73,KOTA BANDUNG,Sukajadi,1,1023.0,63.0,25.280000,9,35396071,2022-08-05,1.0,"MULTILINESTRING ((107.597341 -6.896948, 107.59..."
69624,51757,2022-07-20 15:00:00.000,32.73,KOTA BANDUNG,Akses Tol Pasteur,4,187.0,148.5,3.410000,2,34383126,2022-07-20,4.0,"LINESTRING (107.57951 -6.891595, 107.580255 -6..."
214844,64966,2022-08-18 18:00:00.000,32.73,KOTA BANDUNG,Sukajadi,4,193.0,114.0,5.260000,11,36191370,2022-08-18,4.0,"MULTILINESTRING ((107.596634 -6.886628, 107.59..."
241777,91899,2022-08-24 13:00:00.000,32.73,KOTA BANDUNG,Kalipah Apo,3,297.5,107.5,6.870000,4,36529616,2022-08-24,3.0,"MULTILINESTRING ((107.603887 -6.923835, 107.60..."
249767,99889,2022-08-26 08:00:00.000,32.73,KOTA BANDUNG,Cibaduyut Raya,5,24.0,-1.0,0.000000,60,36641139,2022-08-26,5.0,"MULTILINESTRING ((107.59526 -6.947213, 107.595..."

In [6]:
data_jams.shape

(301995, 14)

In [7]:
df1 = data_jams.copy()

In [8]:
df1

,Unnamed: 0,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,level,median_length,median_delay,median_speed_kmh,total_records,id,date,median_level,geometry
0,0,2022-07-06 00:00:00.000,32.73,KOTA BANDUNG,Jenderal Ahmad Yani,4,428.0,201.5,6.290,14,33471439,2022-07-06,4.0,"MULTILINESTRING ((107.622869 -6.919558, 107.62..."
1,1,2022-07-06 00:00:00.000,32.73,KOTA BANDUNG,Cibaduyut Raya,5,24.0,-1.0,0.000,60,33471432,2022-07-06,5.0,"MULTILINESTRING ((107.59526 -6.947213, 107.595..."
2,2,2022-07-06 00:00:00.000,32.73,KOTA BANDUNG,Cidurian Selatan,2,531.0,101.5,9.070,2,33471433,2022-07-06,2.0,"LINESTRING (107.652971 -6.940132, 107.653181 -..."
3,3,2022-07-06 00:00:00.000,32.73,KOTA BANDUNG,Dr Setiabudi,1,919.0,61.0,20.420,2,33471434,2022-07-06,1.0,"LINESTRING (107.593922 -6.866493, 107.5939 -6...."
4,4,2022-07-06 00:00:00.000,32.73,KOTA BANDUNG,Gerbang Tol Gede Bage,5,318.5,-1.0,0.000,120,33471435,2022-07-06,5.0,"MULTILINESTRING ((107.690448 -6.961397, 107.69..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301990,152112,2022-09-06 00:00:00.000,32.73,KOTA BANDUNG,Sukajadi,2,1037.0,135.0,16.030,9,37280939,2022-09-06,2.0,"MULTILINESTRING ((107.596827 -6.888612, 107.59..."
301991,152113,2022-09-06 00:00:00.000,32.73,KOTA BANDUNG,Sukajadi,3,516.0,144.0,12.750,5,37280940,2022-09-06,3.0,"MULTILINESTRING ((107.596827 -6.888612, 107.59..."
301992,152114,2022-09-06 00:00:00.000,32.73,KOTA BANDUNG,Sukajadi,4,334.0,178.5,5.625,4,37280941,2022-09-06,4.0,"MULTILINESTRING ((107.596747 -6.886963, 107.59..."
301993,152115,2022-09-06 00:00:00.000,32.73,KOTA BANDUNG,NaN,5,31.0,-1.0,0.000,300,37280942,2022-09-06,5.0,"MULTILINESTRING ((107.588654 -6.945097, 107.58..."
301994,152116,2022-09-06 00:00:00.000,32.73,KOTA BANDUNG,Cibaduyut Raya,5,24.0,-1.0,0.000,60,37280928,2022-09-06,5.0,"MULTILINESTRING ((107.59526 -6.947213, 107.595..."

In [9]:
df1.isnull().sum()

Unnamed: 0                      0
time                            0
kemendagri_kabupaten_kode       0
kemendagri_kabupaten_nama       0
street                       2443
level                           0
median_length                   0
median_delay                    0
median_speed_kmh                0
total_records                   0
id                              0
date                            0
median_level                    0
geometry                        0
dtype: int64

In [10]:
df1.shape

(301995, 14)

In [11]:
df1 = df1.dropna()

In [12]:
df1.shape

(299552, 14)

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299552 entries, 0 to 301994
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 299552 non-null  int64
 1   time                       299552 non-null  object
 2   kemendagri_kabupaten_kode  299552 non-null  float64
 3   kemendagri_kabupaten_nama  299552 non-null  object
 4   street                     299552 non-null  object
 5   level                      299552 non-null  int64
 6   median_length              299552 non-null  float64
 7   median_delay               299552 non-null  float64
 8   median_speed_kmh           299552 non-null  float64
 9   total_records              299552 non-null  int64
 10  id                         299552 non-null  int64
 11  date                       299552 non-null  object
 12  median_level               299552 non-null  float64
 13  geometry                   299552 non-null  object
dtypes: float64(5), int64(4), object(5)
memory usage: 34.3+ MB

In [14]:
df1['id'] = df1['id'].astype(object)

In [15]:
# df1['is_weekend'] = df1['time'].dt.strftime('%w').isin(['0','6']).astype(int)
# df1['hours'] = df1['time'].dt.strftime('%H').astype(int)

# df1['jams_weekend'] = np.where(df1['is_weekend']==1,df1['total_records'],np.NaN)
# df1['jams_weekday'] = np.where(df1['is_weekend']==0,df1['total_records'],np.NaN)
# df1['jams_morning'] = np.where((df1['hours']>=6)&
#                                                 (df1['hours']<18),df1['total_records'],np.NaN)
# df1['jams_night'] = np.where((df1['hours']>=18)&
#                                                 (df1['hours']<24),df1['total_records'],np.NaN)
# df1['jams_midnight'] = np.where((df1['hours']>=0)&
#                                                 (df1['hours']<6),df1['total_records'],np.NaN)

In [16]:
df1['time'] = pd.to_datetime(df1['time'])
df1['is_weekend'] = df1['time'].dt.strftime('%w').isin(['0','6']).astype(int)
df1['hours'] = df1['time'].dt.strftime('%H').astype(int)

df1['jams_weekend'] = np.where(df1['is_weekend']==1,1,np.NaN)
df1['jams_weekday'] = np.where(df1['is_weekend']==0,1,np.NaN)
df1['jams_morning'] = np.where((df1['hours']>=6)&
                                                (df1['hours']<18),1,np.NaN)
df1['jams_night'] = np.where((df1['hours']>=18)&
                                                (df1['hours']<24),1,np.NaN)
df1['jams_midnight'] = np.where((df1['hours']>=0)&
                                                (df1['hours']<6),1,np.NaN)

In [17]:
df1.head(5)

,Unnamed: 0,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,level,median_length,median_delay,median_speed_kmh,total_records,...,date,median_level,geometry,is_weekend,hours,jams_weekend,jams_weekday,jams_morning,jams_night,jams_midnight
0,0,2022-07-06,32.73,KOTA BANDUNG,Jenderal Ahmad Yani,4,428.0,201.5,6.29,14,...,2022-07-06,4.0,"MULTILINESTRING ((107.622869 -6.919558, 107.62...",0,0,NaN,1.0,NaN,NaN,1.0
1,1,2022-07-06,32.73,KOTA BANDUNG,Cibaduyut Raya,5,24.0,-1.0,0.00,60,...,2022-07-06,5.0,"MULTILINESTRING ((107.59526 -6.947213, 107.595...",0,0,NaN,1.0,NaN,NaN,1.0
2,2,2022-07-06,32.73,KOTA BANDUNG,Cidurian Selatan,2,531.0,101.5,9.07,2,...,2022-07-06,2.0,"LINESTRING (107.652971 -6.940132, 107.653181 -...",0,0,NaN,1.0,NaN,NaN,1.0
3,3,2022-07-06,32.73,KOTA BANDUNG,Dr Setiabudi,1,919.0,61.0,20.42,2,...,2022-07-06,1.0,"LINESTRING (107.593922 -6.866493, 107.5939 -6....",0,0,NaN,1.0,NaN,NaN,1.0
4,4,2022-07-06,32.73,KOTA BANDUNG,Gerbang Tol Gede Bage,5,318.5,-1.0,0.00,120,...,2022-07-06,5.0,"MULTILINESTRING ((107.690448 -6.961397, 107.69...",0,0,NaN,1.0,NaN,NaN,1.0

In [18]:
df1.columns

Index(['Unnamed: 0', 'time', 'kemendagri_kabupaten_kode',
       'kemendagri_kabupaten_nama', 'street', 'level', 'median_length',
       'median_delay', 'median_speed_kmh', 'total_records', 'id', 'date',
       'median_level', 'geometry', 'is_weekend', 'hours', 'jams_weekend',
       'jams_weekday', 'jams_morning', 'jams_night', 'jams_midnight'],
      dtype='object')

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299552 entries, 0 to 301994
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 299552 non-null  int64
 1   time                       299552 non-null  datetime64[ns]
 2   kemendagri_kabupaten_kode  299552 non-null  float64
 3   kemendagri_kabupaten_nama  299552 non-null  object
 4   street                     299552 non-null  object
 5   level                      299552 non-null  int64
 6   median_length              299552 non-null  float64
 7   median_delay               299552 non-null  float64
 8   median_speed_kmh           299552 non-null  float64
 9   total_records              299552 non-null  int64
 10  id                         299552 non-null  object
 11  date                       299552 non-null  object
 12  median_level               299552 non-null  float64
 13  geometry                   299552 non-null  object
 14  is_weekend                 299552 non-null  int32
 15  hours                      299552 non-null  int32
 16  jams_weekend               84476 non-null   float64
 17  jams_weekday               215076 non-null  float64
 18  jams_morning               226020 non-null  float64
 19  jams_night                 68370 non-null   float64
 20  jams_midnight              5162 non-null    float64
dtypes: datetime64[ns](1), float64(10), int32(2), int64(3), object(5)
memory usage: 48.0+ MB

- drop  kemendagri_kabupaten_kode, kemendagri_kabupaten_nama
- change level to object

In [20]:
dg1 = df1.groupby('street')

In [21]:
df1['level'] = df1['level'].astype(object)

In [22]:
## group metrics 1
fun2_2 = ['count']
fun2_2_dict = {}
col_f2_2 = ['street']
for cols in ['jams_weekend','jams_weekday','jams_morning','jams_night','jams_midnight']:
    fun2_2_dict[cols] = fun2_2
    for met in ['cnt']:
        col_f2_2.append(cols+'_'+met)
        
alert_f1 = dg1.agg(fun2_2_dict).reset_index()
alert_f1.columns = col_f2_2

In [23]:
alert_f1.sort_values('jams_weekday_cnt', ascending=False)

,street,jams_weekend_cnt,jams_weekday_cnt,jams_morning_cnt,jams_night_cnt,jams_midnight_cnt
711,N11 Soekarno-Hatta,1138,3100,2786,1168,284
400,Ir Haji Juanda,1048,2731,2502,1159,118
150,Cibaduyut Raya,937,2677,2390,864,360
516,Jenderal AH Nasution,962,2608,2464,946,160
527,KH Wahid Hasyim,904,2560,2475,764,225
...,...,...,...,...,...,...
247,Ciwaruga Girang 5,2,0,2,0,0
575,Kencana Puri 4,1,0,1,0,0
576,Kencana Wangi,1,0,0,1,0
578,Kencana Wangi Utara,1,0,1,0,0
736,Padasuka Suci Residence,1,0,1,0,0

In [24]:
df1 = df1.fillna(0)

In [25]:
df1['median_delay'] = np.where(df1['median_delay'] < 0, 0,df1['median_delay'])

this research will focus on ir haji juanda street to evaluate jams in that area

In [26]:
df1 = df1[df1['street'] == 'Ir Haji Juanda']

In [27]:
df1.shape

(3779, 21)

In [28]:
df1.sample(5)

,Unnamed: 0,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,level,median_length,median_delay,median_speed_kmh,total_records,...,date,median_level,geometry,is_weekend,hours,jams_weekend,jams_weekday,jams_morning,jams_night,jams_midnight
248315,98437,2022-08-25 18:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,3,1820.0,361.0,11.080,119,...,2022-08-25,3.0,"MULTILINESTRING ((107.610598 -6.904881, 107.61...",0,18,0.0,1.0,0.0,1.0,0.0
152057,134190,2022-08-05 11:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,1,958.0,67.0,19.080,19,...,2022-08-05,1.0,"MULTILINESTRING ((107.610598 -6.904881, 107.61...",0,11,0.0,1.0,1.0,0.0,0.0
197788,47910,2022-08-15 10:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,1,989.0,62.0,24.070,9,...,2022-08-15,1.0,"MULTILINESTRING ((107.619508 -6.873518, 107.61...",0,10,0.0,1.0,1.0,0.0,0.0
12166,7023,2022-07-08 13:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,4,162.0,95.0,4.125,18,...,2022-07-08,4.0,"MULTILINESTRING ((107.610651 -6.905447, 107.61...",0,13,0.0,1.0,1.0,0.0,0.0
230292,80414,2022-08-21 19:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,1,1311.0,70.5,24.860,18,...,2022-08-21,1.0,"MULTILINESTRING ((107.613773 -6.885187, 107.61...",1,19,1.0,0.0,0.0,1.0,0.0

In [29]:
# Grouping Features Based on Their Data Type

num = df1.select_dtypes(include=[np.number], exclude=[np.bool]).columns
cat = df1.select_dtypes(exclude=[np.number]).columns

In [30]:
df1.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,3779.0,7.055125e+04,4.304310e+04,5.00,3.254150e+04,71021.00,1.076545e+05,1.520930e+05
kemendagri_kabupaten_kode,3779.0,3.273000e+01,1.165444e-12,32.73,3.273000e+01,32.73,3.273000e+01,3.273000e+01
level,3779.0,2.501985e+00,1.052454e+00,1.00,2.000000e+00,2.00,3.000000e+00,4.000000e+00
median_length,3779.0,1.008858e+03,4.258357e+02,159.00,7.810000e+02,989.00,1.241000e+03,3.613000e+03
median_delay,3779.0,1.647077e+02,1.475884e+02,32.00,7.900000e+01,103.00,1.890000e+02,1.563500e+03
median_speed_kmh,3779.0,1.431603e+01,5.724696e+00,1.40,1.032750e+01,14.88,1.831750e+01,2.998500e+01
total_records,3779.0,4.891109e+01,4.731162e+01,1.00,1.000000e+01,33.00,7.600000e+01,2.670000e+02
id,3779.0,3.540965e+07,1.090305e+06,33471436.00,3.449618e+07,35396737.00,3.637366e+07,3.723248e+07
median_level,3779.0,2.501985e+00,1.052454e+00,1.00,2.000000e+00,2.00,3.000000e+00,4.000000e+00
is_weekend,3779.0,2.773220e-01,4.477361e-01,0.00,0.000000e+00,0.00,1.000000e+00,1.000000e+00
hours,3779.0,1.406880e+01,5.223742e+00,0.00,1.000000e+01,14.00,1.800000e+01,2.300000e+01
jams_weekend,3779.0,2.773220e-01,4.477361e-01,0.00,0.000000e+00,0.00,1.000000e+00,1.000000e+00
jams_weekday,3779.0,7.226780e-01,4.477361e-01,0.00,0.000000e+00,1.00,1.000000e+00,1.000000e+00
jams_morning,3779.0,6.620799e-01,4.730638e-01,0.00,0.000000e+00,1.00,1.000000e+00,1.000000e+00
jams_night,3779.0,3.066949e-01,4.611826e-01,0.00,0.000000e+00,0.00,1.000000e+00,1.000000e+00
jams_midnight,3779.0,3.122519e-02,1.739488e-01,0.00,0.000000e+00,0.00,0.000000e+00,1.000000e+00

- drop Unnamed: 0,kemendagri_kabupaten_kode	
- drop time, kemendagri_kabupaten_nama, geometry, date, month_name, date_month
- change level & hour to object

In [31]:
change_object = ['level', 'hours']
for i in change_object:
    df1[i] = df1[i].astype(object)

In [32]:
df1.describe(exclude=[np.number]).T

,count,unique,top,freq,first,last
time,3779,1128,2022-08-05 17:00:00,4,2022-07-06,2022-09-04 23:00:00
kemendagri_kabupaten_nama,3779,1,KOTA BANDUNG,3779,NaT,NaT
street,3779,1,Ir Haji Juanda,3779,NaT,NaT
level,3779.0,4.0,2.0,1084.0,NaT,NaT
date,3779,59,2022-07-31,74,NaT,NaT
geometry,3779,3686,"LINESTRING (107.610692 -6.904905, 107.610667 -...",13,NaT,NaT
hours,3779.0,24.0,19.0,232.0,NaT,NaT

In [33]:
num

Index(['Unnamed: 0', 'kemendagri_kabupaten_kode', 'level', 'median_length',
       'median_delay', 'median_speed_kmh', 'total_records', 'id',
       'median_level', 'is_weekend', 'hours', 'jams_weekend', 'jams_weekday',
       'jams_morning', 'jams_night', 'jams_midnight'],
      dtype='object')

In [34]:
cat

Index(['time', 'kemendagri_kabupaten_nama', 'street', 'date', 'geometry'], dtype='object')

In [35]:
string_drop = ['Unnamed: 0', 'kemendagri_kabupaten_kode']
cat_drop = ['kemendagri_kabupaten_nama', 'id', 'date',
            'geometry']

In [36]:
for i in string_drop:
    df1 = df1.drop(i, axis=1)

In [37]:
for i in cat_drop:
    df1 = df1.drop(i, axis=1)

In [38]:
df1

,time,street,level,median_length,median_delay,median_speed_kmh,total_records,median_level,is_weekend,hours,jams_weekend,jams_weekday,jams_morning,jams_night,jams_midnight
5,2022-07-06 00:00:00,Ir Haji Juanda,2,1234.0,105.5,17.535,12,2.0,0,0,0.0,1.0,0.0,0.0,1.0
6,2022-07-06 00:00:00,Ir Haji Juanda,3,786.0,118.5,14.365,8,3.0,0,0,0.0,1.0,0.0,0.0,1.0
54,2022-07-06 04:00:00,Ir Haji Juanda,3,1114.0,79.0,18.990,3,3.0,0,4,0.0,1.0,0.0,0.0,1.0
55,2022-07-06 04:00:00,Ir Haji Juanda,2,556.0,64.0,13.650,2,2.0,0,4,0.0,1.0,0.0,0.0,1.0
135,2022-07-06 06:00:00,Ir Haji Juanda,2,1034.0,63.0,22.510,3,2.0,0,6,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301783,2022-09-04 21:00:00,Ir Haji Juanda,4,1034.0,357.5,7.500,22,4.0,1,21,1.0,0.0,0.0,1.0,0.0
301902,2022-09-04 22:00:00,Ir Haji Juanda,3,781.0,88.0,14.570,25,3.0,1,22,1.0,0.0,0.0,1.0,0.0
301939,2022-09-04 22:00:00,Ir Haji Juanda,2,723.0,86.0,15.020,57,2.0,1,22,1.0,0.0,0.0,1.0,0.0
301955,2022-09-04 23:00:00,Ir Haji Juanda,3,413.0,90.0,10.420,13,3.0,1,23,1.0,0.0,0.0,1.0,0.0
301971,2022-09-04 23:00:00,Ir Haji Juanda,2,594.0,61.0,16.800,4,2.0,1,23,1.0,0.0,0.0,1.0,0.0

In [39]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3779 entries, 5 to 301971
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   time              3779 non-null   datetime64[ns]
 1   street            3779 non-null   object
 2   level             3779 non-null   object
 3   median_length     3779 non-null   float64
 4   median_delay      3779 non-null   float64
 5   median_speed_kmh  3779 non-null   float64
 6   total_records     3779 non-null   int64
 7   median_level      3779 non-null   float64
 8   is_weekend        3779 non-null   int32
 9   hours             3779 non-null   object
 10  jams_weekend      3779 non-null   float64
 11  jams_weekday      3779 non-null   float64
 12  jams_morning      3779 non-null   float64
 13  jams_night        3779 non-null   float64
 14  jams_midnight     3779 non-null   float64
dtypes: datetime64[ns](1), float64(9), int32(1), int64(1), object(3)
memory usage: 457.6+ KB

In [40]:
# df1.to_csv('D:\document\data_science\DLSL Study case\mini_project_DS\data\inter\dt_jams.csv', index=False)

## data alerts

In [41]:
data_alerts

,id,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,type,avg_location,total_records,date
0,5930351,2022-07-06 00:00:00.000,32.73,KOTA BANDUNG,Batununggal Indah 2,WEATHERHAZARD,"[107.62634049999998, -6.962361499999998]",120,2022-07-06
1,5930352,2022-07-06 00:00:00.000,32.73,KOTA BANDUNG,Cibaduyut Raya,ROAD_CLOSED,"[107.59526000000004, -6.9472129999999925]",60,2022-07-06
2,5930353,2022-07-06 00:00:00.000,32.73,KOTA BANDUNG,Gerbang Tol Gede Bage,ROAD_CLOSED,"[107.69057999999981, -6.959956500000006]",120,2022-07-06
3,5930354,2022-07-06 00:00:00.000,32.73,KOTA BANDUNG,Jenderal Ahmad Yani,WEATHERHAZARD,"[107.65976500000006, -6.902228999999994]",60,2022-07-06
4,5930355,2022-07-06 00:00:00.000,32.73,KOTA BANDUNG,KH Wahid Hasyim,ROAD_CLOSED,"[107.58966274999973, -6.945608999999994]",240,2022-07-06
...,...,...,...,...,...,...,...,...,...
30380,6220365,2022-09-06 00:00:00.000,32.73,KOTA BANDUNG,KH Wahid Hasyim,ROAD_CLOSED,"[107.58963349999998, -6.945608999999993]",120,2022-09-06
30381,6220366,2022-09-06 00:00:00.000,32.73,KOTA BANDUNG,Leuwipanjang,ROAD_CLOSED,"[107.595139, -6.947390999999995]",60,2022-09-06
30382,6220367,2022-09-06 00:00:00.000,32.73,KOTA BANDUNG,N11 Flyover Kopo-Cibaduyut,ROAD_CLOSED,"[107.59261600000008, -6.946127500000001]",120,2022-09-06
30383,6220368,2022-09-06 00:00:00.000,32.73,KOTA BANDUNG,Prof Mochtar Kusumaatmadja,JAM,"[107.60215700000002, -6.900244999999999]",6,2022-09-06
30384,6220369,2022-09-06 00:00:00.000,32.73,KOTA BANDUNG,NaN,ROAD_CLOSED,"[107.63242480000015, -6.951227999999993]",300,2022-09-06

In [42]:
df2 = data_alerts[data_alerts['street'] == 'Ir Haji Juanda']

In [43]:
df2.isnull().sum()

id                           0
time                         0
kemendagri_kabupaten_kode    0
kemendagri_kabupaten_nama    0
street                       0
type                         0
avg_location                 0
total_records                0
date                         0
dtype: int64

In [44]:
df2.shape

(455, 9)

In [45]:
df2.dropna()

,id,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,type,avg_location,total_records,date
187,5930531,2022-07-06 12:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61283199999997, -6.898356000000003]",25,2022-07-06
209,5930560,2022-07-06 13:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61283200000001, -6.898356]",6,2022-07-06
279,5930618,2022-07-06 15:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61290899999996, -6.896633000000002]",30,2022-07-06
297,5930648,2022-07-06 16:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61379204347828, -6.889465195652175]",46,2022-07-06
342,5930695,2022-07-06 17:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61294154761907, -6.897102404761907]",42,2022-07-06
...,...,...,...,...,...,...,...,...,...
29854,6215877,2022-09-04 03:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.613211, -6.891185]",5,2022-09-04
30027,6216051,2022-09-04 12:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61319950000002, -6.8921054999999996]",40,2022-09-04
30081,6216105,2022-09-04 13:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61321428571429, -6.891827928571429]",28,2022-09-04
30132,6216156,2022-09-04 14:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61324016853939, -6.891946853932585]",89,2022-09-04
30350,6216374,2022-09-04 21:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61290300000006, -6.896767000000003]",32,2022-09-04

In [46]:
df2 = df2.dropna()

In [47]:
df2.shape

(455, 9)

In [48]:
df2.sample(5)

,id,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,type,avg_location,total_records,date
430,5930782,2022-07-06 19:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61285300000003, -6.897879000000002]",15,2022-07-06
17513,6101835,2022-08-11 07:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61064800000003, -6.905844]",21,2022-08-11
19332,6116908,2022-08-14 16:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,WEATHERHAZARD,"[107.61939400000004, -6.87379]",12,2022-08-14
11533,6041054,2022-07-29 14:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61871069999998, -6.876307533333333]",60,2022-07-29
279,5930618,2022-07-06 15:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61290899999996, -6.896633000000002]",30,2022-07-06

In [49]:
df2['time'] = pd.to_datetime(df2['time'])

In [50]:
df2

,id,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,type,avg_location,total_records,date
187,5930531,2022-07-06 12:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61283199999997, -6.898356000000003]",25,2022-07-06
209,5930560,2022-07-06 13:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61283200000001, -6.898356]",6,2022-07-06
279,5930618,2022-07-06 15:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61290899999996, -6.896633000000002]",30,2022-07-06
297,5930648,2022-07-06 16:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61379204347828, -6.889465195652175]",46,2022-07-06
342,5930695,2022-07-06 17:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61294154761907, -6.897102404761907]",42,2022-07-06
...,...,...,...,...,...,...,...,...,...
29854,6215877,2022-09-04 03:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.613211, -6.891185]",5,2022-09-04
30027,6216051,2022-09-04 12:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61319950000002, -6.8921054999999996]",40,2022-09-04
30081,6216105,2022-09-04 13:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61321428571429, -6.891827928571429]",28,2022-09-04
30132,6216156,2022-09-04 14:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61324016853939, -6.891946853932585]",89,2022-09-04
30350,6216374,2022-09-04 21:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61290300000006, -6.896767000000003]",32,2022-09-04

In [51]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 455 entries, 187 to 30350
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         455 non-null    int64
 1   time                       455 non-null    datetime64[ns]
 2   kemendagri_kabupaten_kode  455 non-null    float64
 3   kemendagri_kabupaten_nama  455 non-null    object
 4   street                     455 non-null    object
 5   type                       455 non-null    object
 6   avg_location               455 non-null    object
 7   total_records              455 non-null    int64
 8   date                       455 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 35.5+ KB

In [52]:
df2.describe(exclude=[np.number]).T

,count,unique,top,freq,first,last
time,455,432,2022-07-16 13:00:00,2,2022-07-06 12:00:00,2022-09-04 21:00:00
kemendagri_kabupaten_nama,455,1,KOTA BANDUNG,455,NaT,NaT
street,455,1,Ir Haji Juanda,455,NaT,NaT
type,455,3,JAM,420,NaT,NaT
avg_location,455,449,"[107.61296300000002, -6.895404999999998]",2,NaT,NaT
date,455,61,2022-07-23,15,NaT,NaT

In [53]:
df2.describe().T

,count,mean,std,min,25%,50%,75%,max
id,455.0,6.081498e+06,8.318795e+04,5930531.00,6013426.50,6088693.00,6147621.00,6216374.00
kemendagri_kabupaten_kode,455.0,3.273000e+01,3.129829e-13,32.73,32.73,32.73,32.73,32.73
total_records,455.0,4.070110e+01,4.128912e+01,1.00,15.00,30.00,50.00,277.00

In [54]:
df2

,id,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,type,avg_location,total_records,date
187,5930531,2022-07-06 12:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61283199999997, -6.898356000000003]",25,2022-07-06
209,5930560,2022-07-06 13:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61283200000001, -6.898356]",6,2022-07-06
279,5930618,2022-07-06 15:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61290899999996, -6.896633000000002]",30,2022-07-06
297,5930648,2022-07-06 16:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61379204347828, -6.889465195652175]",46,2022-07-06
342,5930695,2022-07-06 17:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61294154761907, -6.897102404761907]",42,2022-07-06
...,...,...,...,...,...,...,...,...,...
29854,6215877,2022-09-04 03:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.613211, -6.891185]",5,2022-09-04
30027,6216051,2022-09-04 12:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61319950000002, -6.8921054999999996]",40,2022-09-04
30081,6216105,2022-09-04 13:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61321428571429, -6.891827928571429]",28,2022-09-04
30132,6216156,2022-09-04 14:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61324016853939, -6.891946853932585]",89,2022-09-04
30350,6216374,2022-09-04 21:00:00,32.73,KOTA BANDUNG,Ir Haji Juanda,JAM,"[107.61290300000006, -6.896767000000003]",32,2022-09-04

In [55]:
string_drop = ['id', 'kemendagri_kabupaten_kode']
cat_drop = ['kemendagri_kabupaten_nama', 'avg_location',
            'date']

In [56]:
for i in string_drop:
    df2 = df2.drop(i, axis=1)

In [57]:
for i in cat_drop:
    df2 = df2.drop(i, axis=1)

In [58]:
df2

                     time          street type  total_records
187   2022-07-06 12:00:00  Ir Haji Juanda  JAM             25
209   2022-07-06 13:00:00  Ir Haji Juanda  JAM              6
279   2022-07-06 15:00:00  Ir Haji Juanda  JAM             30
297   2022-07-06 16:00:00  Ir Haji Juanda  JAM             46
342   2022-07-06 17:00:00  Ir Haji Juanda  JAM             42
...                   ...             ...  ...            ...
29854 2022-09-04 03:00:00  Ir Haji Juanda  JAM              5
30027 2022-09-04 12:00:00  Ir Haji Juanda  JAM             40
30081 2022-09-04 13:00:00  Ir Haji Juanda  JAM             28
30132 2022-09-04 14:00:00  Ir Haji Juanda  JAM             89
30350 2022-09-04 21:00:00  Ir Haji Juanda  JAM             32

[455 rows x 4 columns]

In [59]:
df2['time'] = pd.to_datetime(df2['time'])
df2['is_weekend'] = df2['time'].dt.strftime('%w').isin(['0','6']).astype(int)
df2['hours'] = df2['time'].dt.strftime('%H').astype(int)

df2['jams_weekend'] = np.where(df2['is_weekend']==1,1,np.NaN)
df2['jams_weekday'] = np.where(df2['is_weekend']==0,1,np.NaN)
df2['jams_morning'] = np.where((df2['hours']>=6)&
                                                (df2['hours']<18),1,np.NaN)
df2['jams_night'] = np.where((df2['hours']>=18)&
                                                (df2['hours']<24),1,np.NaN)
df2['jams_midnight'] = np.where((df2['hours']>=0)&
                                                (df2['hours']<6),1,np.NaN)

In [60]:
df2 = df2.fillna(0)

In [61]:
# df2.to_csv('D:\document\data_science\DLSL Study case\mini_project_DS\data\inter\dt_alert.csv', index=False)

## data iregulatet

In [62]:
df3 = data_irregularities[data_irregularities['street'] == 'Ir Haji Juanda']

In [63]:
df3

,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,jam_level,median_length,median_delay_seconds,median_regular_speed,total_records,cause_type,median_seconds,median_speed,date,median_jam_level,id,geometry
37,2022-07-06 12:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,4,1233.5,536.5,17.93,10,NaN,680.0,6.40,2022-07-06,4.0,1492881,"MULTILINESTRING ((107.620054 -6.870689, 107.62..."
53,2022-07-06 13:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,3,2269.0,505.0,18.80,3,NaN,741.0,11.01,2022-07-06,3.0,1492897,"MULTILINESTRING ((107.613406 -6.889192, 107.61..."
54,2022-07-06 13:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,4,1063.0,529.0,15.71,52,NaN,646.0,5.97,2022-07-06,4.0,1492898,"MULTILINESTRING ((107.620049 -6.870736, 107.62..."
62,2022-07-06 14:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,3,1181.0,387.0,17.93,31,NaN,544.0,8.12,2022-07-06,3.0,1492909,"MULTILINESTRING ((107.613316 -6.890063, 107.61..."
71,2022-07-06 14:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,4,1063.0,530.0,17.74,41,NaN,647.0,6.19,2022-07-06,4.0,1492910,"MULTILINESTRING ((107.613316 -6.890063, 107.61..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11206,2022-09-04 16:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,4,2293.0,686.0,16.09,3,NaN,931.0,8.86,2022-09-04,4.0,1583424,"MULTILINESTRING ((107.610853 -6.904137, 107.61..."
11213,2022-09-04 16:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,3,3093.0,525.0,18.00,7,NaN,841.0,14.08,2022-09-04,3.0,1583423,"MULTILINESTRING ((107.610598 -6.904881, 107.61..."
11238,2022-09-04 17:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,3,3449.0,868.0,15.02,25,NaN,1176.0,9.49,2022-09-04,3.0,1583447,"MULTILINESTRING ((107.619508 -6.873518, 107.61..."
11239,2022-09-04 17:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,4,1542.0,797.0,13.25,11,NaN,971.0,6.92,2022-09-04,4.0,1583448,"MULTILINESTRING ((107.616993 -6.877906, 107.61..."
11257,2022-09-04 18:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,3,3474.0,841.0,15.17,6,NaN,1171.0,10.62,2022-09-04,3.0,1583466,"MULTILINESTRING ((107.620653 -6.868841, 107.62..."

In [64]:
df3.shape

(379, 16)

In [65]:
df3.isnull().sum()

time                           0
kemendagri_kabupaten_kode      0
kemendagri_kabupaten_nama      0
street                         0
jam_level                      0
median_length                  0
median_delay_seconds           0
median_regular_speed           0
total_records                  0
cause_type                   379
median_seconds                 0
median_speed                   0
date                           0
median_jam_level               0
id                             0
geometry                       0
dtype: int64

In [66]:
df3 = df3.drop(['cause_type'], axis=1)

In [67]:
df3.sample(3)

,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,jam_level,median_length,median_delay_seconds,median_regular_speed,total_records,median_seconds,median_speed,date,median_jam_level,id,geometry
4475,2022-07-29 20:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,3,2185.0,489.0,29.11,23,668.0,13.13,2022-07-29,3.0,1531160,"MULTILINESTRING ((107.612638 -6.900258, 107.61..."
3863,2022-07-26 17:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,4,1286.0,622.0,16.50,20,771.0,5.82,2022-07-26,4.0,1527236,"MULTILINESTRING ((107.619903 -6.871926, 107.62..."
9869,2022-08-28 15:00:00.000,32.73,KOTA BANDUNG,Ir Haji Juanda,3,3683.0,637.0,16.45,21,1036.0,12.61,2022-08-28,3.0,1572032,"MULTILINESTRING ((107.610598 -6.904881, 107.61..."

In [68]:
df3['time'] = pd.to_datetime(df3['time'])

In [69]:
df3.describe(exclude=[np.number]).T

,count,unique,top,freq,first,last
time,379,222,2022-08-22 07:00:00,3,2022-07-06 12:00:00,2022-09-04 18:00:00
kemendagri_kabupaten_nama,379,1,KOTA BANDUNG,379,NaT,NaT
street,379,1,Ir Haji Juanda,379,NaT,NaT
date,379,54,2022-08-27,21,NaT,NaT
geometry,379,375,"LINESTRING (107.612728 -6.898866, 107.612735 -...",2,NaT,NaT

In [70]:
df3.describe().T

,count,mean,std,min,25%,50%,75%,max
kemendagri_kabupaten_kode,379.0,3.273000e+01,2.845928e-13,32.73,3.273000e+01,32.73,32.730,32.73
jam_level,379.0,3.522427e+00,5.408189e-01,2.00,3.000000e+00,4.00,4.000,4.00
median_length,379.0,2.133172e+03,1.185130e+03,514.00,1.230750e+03,1745.00,2937.000,7470.50
median_delay_seconds,379.0,7.254142e+02,3.160028e+02,132.00,5.177500e+02,670.00,935.250,2115.50
median_regular_speed,379.0,1.485838e+01,4.924395e+00,6.00,1.178000e+01,13.98,17.345,35.78
total_records,379.0,1.593668e+01,1.621634e+01,1.00,4.000000e+00,12.00,21.000,120.00
median_seconds,379.0,9.545383e+02,4.109364e+02,205.00,6.595000e+02,888.00,1212.000,2942.00
median_speed,379.0,8.057084e+00,2.523945e+00,1.40,6.122500e+00,8.00,9.895,17.40
median_jam_level,379.0,3.522427e+00,5.408189e-01,2.00,3.000000e+00,4.00,4.000,4.00
id,379.0,1.549330e+06,2.421040e+04,1492881.00,1.534022e+06,1554120.00,1569875.500,1583466.00

In [71]:
string_drop = ['id', 'kemendagri_kabupaten_kode']
cat_drop = ['kemendagri_kabupaten_nama', 'geometry',
            'date']

In [72]:
for i in string_drop:
    df3 = df3.drop(i, axis=1)

In [73]:
for i in cat_drop:
    df3 = df3.drop(i, axis=1)

In [74]:
df3

,time,street,jam_level,median_length,median_delay_seconds,median_regular_speed,total_records,median_seconds,median_speed,median_jam_level
37,2022-07-06 12:00:00,Ir Haji Juanda,4,1233.5,536.5,17.93,10,680.0,6.40,4.0
53,2022-07-06 13:00:00,Ir Haji Juanda,3,2269.0,505.0,18.80,3,741.0,11.01,3.0
54,2022-07-06 13:00:00,Ir Haji Juanda,4,1063.0,529.0,15.71,52,646.0,5.97,4.0
62,2022-07-06 14:00:00,Ir Haji Juanda,3,1181.0,387.0,17.93,31,544.0,8.12,3.0
71,2022-07-06 14:00:00,Ir Haji Juanda,4,1063.0,530.0,17.74,41,647.0,6.19,4.0
...,...,...,...,...,...,...,...,...,...,...
11206,2022-09-04 16:00:00,Ir Haji Juanda,4,2293.0,686.0,16.09,3,931.0,8.86,4.0
11213,2022-09-04 16:00:00,Ir Haji Juanda,3,3093.0,525.0,18.00,7,841.0,14.08,3.0
11238,2022-09-04 17:00:00,Ir Haji Juanda,3,3449.0,868.0,15.02,25,1176.0,9.49,3.0
11239,2022-09-04 17:00:00,Ir Haji Juanda,4,1542.0,797.0,13.25,11,971.0,6.92,4.0
11257,2022-09-04 18:00:00,Ir Haji Juanda,3,3474.0,841.0,15.17,6,1171.0,10.62,3.0

In [75]:
df3['time'] = pd.to_datetime(df3['time'])
df3['is_weekend'] = df3['time'].dt.strftime('%w').isin(['0','6']).astype(int)
df3['hours'] = df3['time'].dt.strftime('%H').astype(int)

df3['jams_weekend'] = np.where(df3['is_weekend']==1,1,np.NaN)
df3['jams_weekday'] = np.where(df3['is_weekend']==0,1,np.NaN)
df3['jams_morning'] = np.where((df3['hours']>=6)&
                                                (df3['hours']<18),1,np.NaN)
df3['jams_night'] = np.where((df3['hours']>=18)&
                                                (df3['hours']<24),1,np.NaN)
df3['jams_midnight'] = np.where((df3['hours']>=0)&
                                                (df3['hours']<6),1,np.NaN)

In [76]:
df3

,time,street,jam_level,median_length,median_delay_seconds,median_regular_speed,total_records,median_seconds,median_speed,median_jam_level,is_weekend,hours,jams_weekend,jams_weekday,jams_morning,jams_night,jams_midnight
37,2022-07-06 12:00:00,Ir Haji Juanda,4,1233.5,536.5,17.93,10,680.0,6.40,4.0,0,12,NaN,1.0,1.0,NaN,NaN
53,2022-07-06 13:00:00,Ir Haji Juanda,3,2269.0,505.0,18.80,3,741.0,11.01,3.0,0,13,NaN,1.0,1.0,NaN,NaN
54,2022-07-06 13:00:00,Ir Haji Juanda,4,1063.0,529.0,15.71,52,646.0,5.97,4.0,0,13,NaN,1.0,1.0,NaN,NaN
62,2022-07-06 14:00:00,Ir Haji Juanda,3,1181.0,387.0,17.93,31,544.0,8.12,3.0,0,14,NaN,1.0,1.0,NaN,NaN
71,2022-07-06 14:00:00,Ir Haji Juanda,4,1063.0,530.0,17.74,41,647.0,6.19,4.0,0,14,NaN,1.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11206,2022-09-04 16:00:00,Ir Haji Juanda,4,2293.0,686.0,16.09,3,931.0,8.86,4.0,1,16,1.0,NaN,1.0,NaN,NaN
11213,2022-09-04 16:00:00,Ir Haji Juanda,3,3093.0,525.0,18.00,7,841.0,14.08,3.0,1,16,1.0,NaN,1.0,NaN,NaN
11238,2022-09-04 17:00:00,Ir Haji Juanda,3,3449.0,868.0,15.02,25,1176.0,9.49,3.0,1,17,1.0,NaN,1.0,NaN,NaN
11239,2022-09-04 17:00:00,Ir Haji Juanda,4,1542.0,797.0,13.25,11,971.0,6.92,4.0,1,17,1.0,NaN,1.0,NaN,NaN
11257,2022-09-04 18:00:00,Ir Haji Juanda,3,3474.0,841.0,15.17,6,1171.0,10.62,3.0,1,18,1.0,NaN,NaN,1.0,NaN

In [77]:
df3 = df3.fillna(0)

In [78]:
# df3.to_csv('D:\document\data_science\DLSL Study case\mini_project_DS\data\inter\dt_irregularities.csv', index=False)